<!DOCTYPE html>
<html lang="es" itemscope itemtype="http://schema.org/Article">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Línea Seguros | Seguros de auto hasta 12 meses sin intereses.</title>

     <meta name="Linea Seguros" content="Linea Seguros" />
        <meta name="description" content="Elige el Seguro de tu Auto al Instante y Obtén las Mejores Promociones con Línea Seguros, el portal con las Mejores Aseguradoras de México.">

        <meta name="keywords" content="Mapfre Seguros, Mapfre Seguros de Autos, Mapfre Autos , Mapfre Autos seguros, Cotizador, Seguros Mapfre, Poliza de Auto, Autoseguros, Cotización, cotiza, comparar precio, comparar seguros, auto comparador Ahorra Seguros, comparador Ahorra Seguros México, seguro para pick-ups, seguros para motos, seguros para taxi, comparador de seguros, seguro obligatorio, Axa Seguros, Axa Seguros de Autos, Axa Autos , Axa Autos seguros, Cotizador, Seguros Axa, Poliza de Auto, Autoseguros, Cotización, cotiza, comparar precio, comparar seguros, auto comparador Ahorra Seguros, comparador Ahorra Seguros México, seguro para pick-ups, seguros para motos, seguros para taxi, comparador de seguros, seguro obligatorio, Banorte Seguros, Banorte Seguros de Autos, Banorte Autos , Banorte Autos seguros, Cotizador, Seguros Banorte, Poliza de Auto, Autoseguros, Cotización, cotiza, comparar precio, comparar seguros, auto comparador Ahorra Seguros, comparador Ahorra Seguros México, seguro para pick-ups, seguros para motos, seguros para taxi, comparador de seguros, seguro obligatorio, Qualitas Seguros, Qualitas Seguros de Autos, Qualitas Autos , Qualitas Autos seguros, Cotizador, Seguros Qualitas, Poliza de Auto,  GNP Seguros, GNP Seguros de Autos, Qualitas Autos , Qualitas Autos seguros, Cotizador, Seguros Qualitas, Poliza de Auto, Autoseguros, Cotización, cotiza, comparar precio, comparar seguros, auto comparador Ahorra Seguros, comparador Ahorra Seguros México, seguro para pick-ups, seguros para motos, seguros para taxi, comparador de seguros, seguro obligatorio, GNP Seguros, GNP Seguros de Autos, GNP Autos , GNP Autos seguros, Cotizador, Seguros GNP, Poliza de Auto, Autoseguros, Cotización, cotiza, comparar precio, comparar seguros, auto comparador Ahorra Seguros, comparador Ahorra Seguros México, seguro para pick-ups, seguros para motos, seguros para taxi, comparador de seguros, seguro obligatorio, ABA Seguros, ABA Seguros de Autos, ABA Autos , ABA Autos seguros, Cotizador, Seguros ABA, Poliza de Auto, Autoseguros, Cotización, cotiza, comparar precio, comparar seguros, auto comparador Ahorra Seguros, comparador Ahorra Seguros México, seguro para pick-ups, seguros para motos, seguros para taxi, comparador de seguros, seguro obligatorio, HDI Seguros, HDI Seguros de Autos, HDI Autos , HDI Autos seguros, Cotizador, Seguros HDI, Poliza de Auto, Autoseguros, Cotización, cotiza, comparar precio, comparar seguros, auto comparador Ahorra Seguros, comparador Ahorra Seguros México, seguro para pick-ups, seguros para motos, seguros para taxi, comparador de seguros, seguro obligatorio, AIG Seguros, AIG Seguros de Autos, AIG Autos , AIG Autos seguros, Cotizador, Seguros AIG, Poliza de Auto, Autoseguros, Cotización, cotiza, comparar precio, comparar seguros, auto comparador Ahorra Seguros, comparador Ahorra Seguros México, seguro para pick-ups, seguros para motos, seguros para taxi, comparador de seguros, seguro obligatorio, RSA Seguros, RSA Seguros de Autos, RSA Autos , RSA Autos seguros, Cotizador, Seguros RSA, Poliza de Auto, Autoseguros, Cotización, cotiza, comparar precio, comparar seguros, auto comparador Ahorra Seguros Ahorra Seguros, comparador Ahorra Seguros México, seguro para pick-ups, seguros para motos, seguros para taxi, comparador de seguros, seguro obligatorio">



        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5MLT9M');</script>
        <!-- End Google Tag Manager -->


        <!-- Global site tag (gtag.js) - Google AdWords: 818836437  -->

        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-818836437"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-818836437');
        </script>



        <!-- Schema.org markup for Google+ -->
        <!-- <meta itemprop="name" content="Linea Seguros">
        <meta itemprop="description" content="Elige el Seguro de tu Auto al Instante y Obtén las Mejores Promociones con Línea Seguros, el portal con las Mejores Aseguradoras de México.">
        <meta itemprop="image" content="http://www.lineaseguros.mx/images/gplus.png"> -->

        <!-- Twitter Card data -->
        <!-- <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@LineaSegurosMx">
        <meta name="twitter:creator" content="@LineaSegurosMx">
        <meta name="twitter:title" content="Línea Seguros">
        <meta name="twitter:description" content="Elige el Seguro de tu Auto al Instante y Obtén las Mejores Promociones con Línea Seguros, el portal con las Mejores Aseguradoras de México.">
        <meta name="twitter:image" content="images/twitter.png"> -->

        <!-- Twitter summary card with large image must be at least 280x150px -->
        <!-- <meta name="twitter:image:src" content="images/twitter.png">  -->

        <meta name="google-site-verification" content="zBQkmwokahzPL7LGeQSPXrlFuM7UEIA1PP4PP6dJscQ" />


        <meta name="image" content="https://dj9ixu2laiuvi.cloudfront.net/images/fbcr2.png">
        <!-- Schema.org for Google -->
        <meta itemprop="name" content="Linea Seguros">
        <meta itemprop="description" content="Elige el Seguro de tu Auto al Instante y Obtén las Mejores Promociones con Línea Seguros, el portal con las Mejores Aseguradoras de México.">
        <meta itemprop="image" content="https://dj9ixu2laiuvi.cloudfront.net/images/fbcr2.png">
        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta name="og:title" content="Linea Seguros">
        <meta name="og:description" content="Elige el Seguro de tu Auto al Instante y Obtén las Mejores Promociones con Línea Seguros, el portal con las Mejores Aseguradoras de México.">
        <meta name="og:image" content="https://dj9ixu2laiuvi.cloudfront.net/images/fbcr2.png">
        <meta name="og:url" content="https://lineaseguros.mx/cotizaciones/">
        <meta name="og:site_name" content="Linea Seguros">
        <meta name="og:locale" content="es_US">
        <meta name="og:type" content="website">

        <link rel="apple-touch-icon" sizes="180x180" href="https://dj9ixu2laiuvi.cloudfront.net/images/fav/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="180x180" href="https://dj9ixu2laiuvi.cloudfront.net/images/fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="https://dj9ixu2laiuvi.cloudfront.net/images/fav/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="https://dj9ixu2laiuvi.cloudfront.net/images/fav/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="https://dj9ixu2laiuvi.cloudfront.net/images/fav/manifest.json">
        <link rel="mask-icon" href="https://dj9ixu2laiuvi.cloudfront.net/images/fav/safari-pinned-tab.svg" color="#ffffff">
        <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://lineaseguros.mx/landers/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://lineaseguros.mx/landers/css/styles.css">
    <!-- <script defer src="https://dj9ixu2laiuvi.cloudfront.net/fontawesome-all.min.js"></script> -->
 <script defer src="https://use.fontawesome.com/f2ff00b5a2.js"></script>

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MLT9M"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <div class="hidden-xs hidden-sm topbar social-icons">
        <div class="hidden-sm hidden-xs">
        </div>
    </div>
    <div>
        <div class="container logoheader">
            <div class="row headermobile">
            <a href="index.php">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"><img class="img-responsive logoheader" src="https://dj9ixu2laiuvi.cloudfront.net/images/logo.png" alt="Linea Seguros"></div></a>
                <div class="col-lg-2 col-lg-offset-3 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-6 visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block call"><a class="btn callus" role="button" href="tel:5541701422">Llámanos: 55 4170 1422</a></div>
            </div>
        </div>
    </div>
