
<% include partials/header %>
<div class="container-fluid">
    <div class="row slider" style="background-image: url('https://dj9ixu2laiuvi.cloudfront.net/images/slider.png') repeat 0 0;">
            <div class="col-md-6 col-xs-12 col-sm-6">
                <img class="img-responsive banner" src="https://dj9ixu2laiuvi.cloudfront.net/images/12msi.png" alt="banner">
            </div>

            <div class="col-md-6 col-xs-12 col-sm-4">

                <% include partials/form %>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <h3 class="text-center headerabout">Cotiza tu Seguro con nosotros ¡Desde $350 al mes!</h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-md-10 col-md-offset-1 hidden-xs">
                    <p class="text-center">Consigue tu mejor opción con las empresas aseguradoras mexicanas de mayor renombre con más de 110 años de experiencia.&nbsp;<strong>Ubicadas como las mejores aseguradoras de México.</strong> </p>
                </div>
                <div class="col-lg-offset-1 col-md-10 col-md-offset-1">
                    <p class="text-center">En Línea Seguros&nbsp;<strong>tu tienes la libertad de elegir la mejor opción para que siempre puedas ahorrar en tu seguro y en cualquier siniestro que tengas.&nbsp;</strong><br><br>Con nosotros proteges tu auto, a ti como conductor y a tus pasajeros. </p>
                </div>
            </div>
        </div>

        <div class="highlight-clean">
            <div class="container">
                <div class="buttons"><a class="btn btn-primary" role="button" href="#">COTIZAR GRATIS</a></div>
            </div>
        </div>
        <div class="brands">
            <a href="#">

        </a>
            <div class="row">
                <div class="col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-6 benefits2">
                    <ul class="benefits2">
                        <li class="benefits2"><i class="fa fa-check-circle fa-lg"></i> Servicio personalizado.</li>
                        <li class="benefits2"><i class="fa fa-check-circle fa-lg"></i> Los mejores paquetes y coberturas.</li>
                        <li class="benefits2"><i class="fa fa-check-circle fa-lg"></i> Certificado de RC para USA gratis.</li>
                        <li class="benefits2"><i class="fa fa-check-circle fa-lg"></i> Obtén de 6 a 12 meses sin intereses.</li>
                        <li class="benefits2"><i class="fa fa-check-circle fa-lg"></i> Rápido y Seguro</li>

                    </ul>
                </div>
                <div class="col-md-5 col-sm-6 benefits2">
                    <ul>
                        <li class="benefits2"><i class="fa fa-check-circle fa-lg"></i> Auto sustituto en caso de siniestro.</li>
                        <li class="benefits2"><i class="fa fa-check-circle fa-lg"></i> Asistencia legal.</li>
                        <li class="benefits2"><i class="fa fa-check-circle fa-lg"></i> Sencillez y facilidad de pago.</li>

                        <li class="benefits2"><i class="fa fa-check-circle fa-lg"></i> Auxilio vial 24/7 (grúa, gasolina, etc).</li>
                        <li class="benefits2"><i class="fa fa-check-circle fa-lg"></i> Desde $350 al mes</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="testimonials-clean">
            <div class="container">
                <div class="intro"></div>
                <div class="row people">
                <div class="col-lg-4 col-md-4 col-sm-6 item">
                        <div class="box">
                            <p class="description">"Estoy muy contento, todo ha sido muy rápido. Desde el principio fue fácil, ya que todo estuvo muy claro y recibí lo necesario para estar asegurado al instante."</p>
                        </div>
                        <div class="author"><img class="img-circle" src="https://dj9ixu2laiuvi.cloudfront.net/images/1.jpg" alt="hugo">
                            <h5 class="name">Hugo Fernandez</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 item">
                        <div class="box">
                            <p class="description">"Su calidad, profesionalidad y el trato hacen que tengan toda mi confianza. Me gusta mucho esta nueva manera de proteger mi auto ya que es más fácil y puedes tener control de todo."</p>
                        </div>
                        <div class="author"><img class="img-circle" src="https://dj9ixu2laiuvi.cloudfront.net/images/2.jpg" alt="roberta">
                            <h5 class="name">Roberta Mendez</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 hidden-xs hidden-sm item">
                        <div class="box">
                            <p class="description">"¡Muy contento con su servicio! ¡Choqué y me comunicaron con quienes en verdad podian solucionar mi situación!"</p>
                        </div>
                        <div class="author"><img class="img-circle" src="https://dj9ixu2laiuvi.cloudfront.net/images/3.jpg" alt="eugenio">
                            <h5 class="name">Eugenio Porras</h5>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="container-fluid quote">
            <div class="row quote">
                <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-4">
                    <h2 class="quotemobile">Cotiza Sin Compromisos</h2>
                    <h5>Tu tienes la opción de elegir lo mas conveniente para ti</h5></div>
                <div class="col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-4 col-xs-offset-1"><a class="btn btn-cotizar-quote" role="button" href="#" target="_top">Cotizar Gratis</a></div>
            </div>
        </div>
 <% include partials/footer %>
